.searchContainer {
  position: relative;
  width: 300px;
}

.searchInput {
  width: 100%;
  padding: 10px 16px;
  padding-right: 40px;
  border: 1px solid #e4e5f5;
  border-radius: 1.875rem;
  font-size: 14px;
  color: #6d6e75;
  background-color: var(--grey-10);
}

.searchInput:focus {
  outline: none;
  border-color: #dddeed;
  background-color: #ffffff;
}

.searchButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #6d6e75;
}

.searchIcon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}